<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div  class="ml-auto mr-2" >
            <%= link_to "Category", root_path, class: "btn btn-danger text-light"%>
            <%= link_to "API", api_categories_path, class: "btn btn-danger text-light"%>
            <%= link_to 'Subcategory', subcategories_path, class:"btn btn-danger text-light ml-auto" %>
            <%= link_to "Markers", markers_path, class: "btn btn-danger text-light"%>
            <%= link_to "Types", types_path, class: "btn btn-danger text-light ml-auto"%>
    </div>
</nav>