<% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.public %></td>
        <td><%= link_to 'Show', category %></td>
        <td><%= link_to 'Edit', edit_category_path(category), remote: true %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
<% end %>